<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="navbar">
      <a href="/">Home</a>
      <a href="/licenses/getLicense">Search</a>
      <a href="/licenses/deleteLicense">Delete</a>
      <a href="/registration">Registration</a>
    </div>
    {{{body}}}
  </body>
</html>
