<h1>Login Page</h1>

<p>{{message}}</p>

<form method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username-field-login" name="username"><br>
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password-field-login" name="password"><br>
    <br>
    <input type="submit" id="submit-login" value="Submit">
</form>