<h1>Lookup Page</h1>

<p>{{message}}</p>

<form method="POST">
    <label for="callsign">Callsign:</label><br>
    <input type="text" id="callook-field" name="callsign"><br>
    <br>
    <input type="submit" id="submit-callsign" value="Submit">
</form>