<h1>Registration Page</h1>

<p>{{message}}</p>

<form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username-field-registration" name="username"><br>
    <br>
    <label for="password">Password:</label>
    <input type="text" id="password-field-registration" name="password"><br>
    <br>
    <label for "email">Email Address:</label>
    <input type="text" id="email-field-registration" name="email"><br>
    <br>
    <label for "access-key">Access Key:</label>
    <input type="text" id="access-key-field-registration" name="access-key"><br>
    <br>
    <input type="submit" id="submit-registration" value="Submit">
</form>